.navbar-brand{
	padding:0px 40px;
}
nav .nav-item{
	padding:0px 40px;
}
.container{
	margin-top: 50px;
}

textarea {
   resize: none;
}
.wall-comments{
	min-height: 70px;
}
.comment{
	font-size:14px;
	color: #000;
	vertical-align: top;
	min-height:60px;
}
.cdate{
	font-size: 13px;
	color:#aaa;
	text-transform: capitalize;
}
.errText{
	color:red;
}